
:root{
    --cinza: #525252;
    --branco: #fff;
    --vermelho: #f02a1f;
}

html{height:100%; width:100%}

* {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    text-align:center;
    color: var(--cinza);
}

table {
    margin:auto;
    background-color: var(--cinza);
    border-radius: 3px;
    width: 850px;
}

th {
    color: var(--branco);
    font-size: 18px;
    border: 3px solid var(--cinza);
    background-color: var(--cinza);
    padding: 2px 5px;
}

.txtAlign {
    text-align:center
}

td {
    padding: 2px 5px;
    background-color: var(--branco);
    color: var(--cinza);
}

div {
    width:90px;
    margin:auto;
    margin-top:20px;
}

input {
    border: solid 2px var(--cinza);
    border-radius: 3px;
    padding: 2px 5px;
    width:382.8px;
    height:24.8px;
    display:inline;
    BOX-SIZING:BORDER-box;

}

#listaAlunos {
    font-size:30px;
}

input:focus 
{
    outline:none;
}

td:focus 
{
    outline:none;
}

.smol {
    width:93.6px;
}

.bloqueio{
    width: 100vw;
    height: 150vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--branco);
    opacity: 0.85;
    margin-top: -8px;
}

.btnDel{
    text-align:center;
    cursor:pointer;
    font-family: 'Nunito', sans-serif;
    margin:0;
    font-size:16px;
    color:var(--vermelho);
}

.btnDel::selection{
    background:var(--branco);
    color:var(--vermelho);
}

.escondido
{
    visibility:hidden;
}

.adds {
    background-color:var(--branco);
    width: 440px;
    border: solid 2px var(--cinza);
    padding:15px;
    padding-bottom:0;
    text-align:center;
    margin:0;
    position:fixed;
    top:33%;
    left:33%;
    box-shadow: 5px 5px 5px 0 #babaca;
}

.adds input {
    margin-bottom:10px;
}

/*barra de filtro*/

.barraFiltro{
    width: 850px;
    height: 37px;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    display: grid;
    grid-template-columns: auto 73px 73px;
    grid-column-gap: 15px;
    align-items: start;
    justify-content: start;
    justify-items: center;
    align-content: center;
}

#info-nome{
    width:305px;
}

#txtFiltro{
    width: 673px;
    height: 37px;
    font-size: 16px;
    margin-bottom: 1.5px;
}

#botoes{
    text-align:center;
}

.btnAdd {
    width:96px;
}

.linhaImpar td{
    background-color:rgb(245, 245, 245);
}

.sumido{
    display:none;
}

button {
    width: 73px;
    height: 34px;
    font-size: 18px;
    color: var(--branco);
    background-color: var(--cinza);
    border: solid 2px var(--cinza);
    border-radius: 3px;
    box-shadow: 0 4px rgb(39 39 39);
    cursor: pointer;
}

button:active {
    position:relative;
    top:4px;
    box-shadow:none;
    transform:scale(1);
}

.reprovado td, #msg {
    color:var(--vermelho);
}


.info-rm, .info-nota01, .info-nota02, .info-media, .info-situacao {
    width:80px;
    text-align:center;
}

.info-situacao {
    width:122px;
}

.delete {
    width: 16px;
}