
* {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    text-align:center;
    color: #525252;
}

table {
    margin:auto;
    background-color: #525252;
    border-radius: 3px;
    clear:both;
}

th {
    color: #fff;
    font-size: 18px;
    border: 3px solid #525252;
    background-color: #525252;
    padding: 2px 5px;
}

td {
    padding: 2px 5px;
    background-color: #fff;
    color: #525252;
}

div {
    width:90px;
    margin:auto;
    margin-top:20px;
}

input {
    border: solid 2px #525252;
    padding: 2px 5px;
    width:222.8px;
    height:24.8px;
    display:inline;
    text-transform:uppercase;
    BOX-SIZING:BORDER-box;
}

input:focus 
{
    outline:none;
}

td:focus 
{
    outline:none;
}

.smol {
    width:93.6px;
}

#addRM {
    width:92.6px;
    margin-left:8px;
}

#addNome {
    position:relative;
    right:6px;
}

#add01 {
    margin-left:-12px;
}

#add02 {
    margin-left:-7px;
}

.adds {
    margin-left: 371.200px;
    margin-bottom:21.44px;
    width: 626.4px;
}

h4 {
    color:#525252;
}



button {
    position: relative;
    width: 96px;
    height: 38px;
    font-size: 18px;
    color: #fff;
    background-color: #525252;
    box-shadow: none;
    border: solid 2px #525252;
    border-radius: 3px;
    box-shadow: 0 4px rgb(39 39 39);
    cursor: pointer;
}

#addBtn {
    margin-top:-8px;
    float:right;
    margin:none;
}

button:active {
    top:4px;
    box-shadow:none;
    transform:scale(1);
}

.aprovado {
    color:#3a43f2;
}

.reprovado {
    color:#f02a1f;
}

.info-nome {
    text-transform:uppercase;
}

.info-rm, .info-nota01, .info-nota02, .info-media, .info-situacao {
    width:80px;
    text-align:center;
}

.info-situacao {
    width:122px;
}