
html{height:100%; width:100%}

* {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    text-align:center;
    color: #525252;
}

table {
    margin:auto;
    background-color: #525252;
    border-radius: 3px;
    width: 850px;
}

th {
    color: #fff;
    font-size: 18px;
    border: 3px solid #525252;
    background-color: #525252;
    padding: 2px 5px;
}

td {
    padding: 2px 5px;
    background-color: #fff;
    color: #525252;
}

div {
    width:90px;
    margin:auto;
    margin-top:20px;
}

input {
    border: solid 2px #525252;
    padding: 2px 5px;
    width:222.8px;
    height:24.8px;
    display:inline;
    text-transform:uppercase;
    BOX-SIZING:BORDER-box;

}

#listaAlunos {
    font-size:30px;
}

input:focus 
{
    outline:none;
}

td:focus 
{
    outline:none;
}

.smol {
    width:93.6px;
}

.bloqueio{
    width: 100vw;
    height: 150vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    opacity: 0.85;
    margin-top: -8px;
}

.escondido
{
    visibility:hidden;
}

.adds {
    background-color:#fff;
    width: 440px;
    border: solid 2px #525252;
    padding:15px;
    padding-bottom:0;
    text-align:center;
    margin:0;
    position:fixed;
    top:33%;
    left:33%;
    box-shadow: 5px 5px 5px 0 #babaca;
}

/*barra de filtro*/

.barraFiltro{
    width: 850px;
    height: 46px;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    display: grid;
    grid-template-columns: auto 73px 73px;
    grid-column-gap: 15px;
    align-items: start;
    justify-content: start;
    justify-items: center;
    align-content: center;
}


#txtFiltro{
    width: 673px;
    height: 41px;
    font-size: 16px;
    margin-bottom: 1.5px;
}

#botoes{
    text-align:center;
}

.btnAdd {
    width:96px;
}

.linhaImpar td{
    background-color:rgb(245, 245, 245);
}

button {
    width: 73px;
    height: 38px;
    font-size: 18px;
    color: #fff;
    background-color: #525252;
    border: solid 2px #525252;
    border-radius: 3px;
    box-shadow: 0 4px rgb(39 39 39);
    cursor: pointer;
}

button:active {
    position:relative;
    top:4px;
    box-shadow:none;
    transform:scale(1);
}

.reprovado td, #msg {
    color:#f02a1f;
}

.info-nome {
    text-transform:uppercase;
}

.info-rm, .info-nota01, .info-nota02, .info-media, .info-situacao {
    width:80px;
    text-align:center;
}

.info-situacao {
    width:122px;
}